{% extends "base.html" %}

{% block content %}

  <div class="container">
    <div class="row">

    </div>
    <div class="row">
      <p class="col s6 center-align">Ploegnummer</p>
      <a type= "button" class="col s6 waves-effect waves-light btn">BACKSPACE</a>
    </div>
    <div class="row">
      <a type= "button" class="col s4 waves-effect waves-light btn">1</a>
      <a type= "button" class="col s4 waves-effect waves-light btn">2</a>
      <a type= "button" class="col s4 waves-effect waves-light btn">3</a> 
    </div>
    <div class="row">
      <a type= "button" class="col s4 waves-effect waves-light btn">4</a>
      <a type= "button" class="col s4 waves-effect waves-light btn">5</a>
      <a type= "button" class="col s4 waves-effect waves-light btn">6</a> 
    </div>
    <div class="row">
      <a type= "button" class="col s4 waves-effect waves-light btn">7</a>
      <a type= "button" class="col s4 waves-effect waves-light btn">8</a>
      <a type= "button" class="col s4 waves-effect waves-light btn">9</a> 
    </div>
    <div class="row">
      <div class="col s4">
      </div>
      <a type= "button" class="col s4 waves-effect waves-light btn">0</a>
      <div class="col s4">
      </div> 
    </div>
    <div class="row">
      <a type= "button" class="col s12 waves-effect waves-light btn">ENTER</a> 
    </div>

  </div>

{% endblock%}