{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h3>Systeem informatie</h3>
        <table>           
          <tbody>
            <tr>
              <td>Wisselpuntploeg</td>
              <td>{{ config_load.competition.checkpointteam }}</td>
              <td>  <!-- Dropdown Trigger -->
                <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Wijzigingen</a>
              
                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                  {% for Wisselpuntploeg_list_optie in config_load.competition.checkpointteam_list %}
                    <li><a href="#!">{{ Wisselpuntploeg_list_optie }}</a></li>           
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <td>Wisselpunt</td>
              <td>{{ config_load.competition.checkpoint }}</td>
                <td>  <!-- Dropdown Trigger -->
                  <a class='dropdown-trigger btn' href='#' data-target='dropdown2'>Wijzigingen</a>
              
                  <!-- Dropdown Structure -->
                  <ul id='dropdown2' class='dropdown-content'>
                    {% for Wisselpunt_list_optie in config_load.competition.checkpoint_list %}
                      <li><a href="#!">{{ Wisselpunt_list_optie }}</a></li>           
                    {% endfor %}
                  </ul>
                </td>
            </tr>
            <tr>
              <td>Identificatie</td>
              <td>{{ config_load.system.id }}</td>
            </tr>
            <tr>
              <td>Accu</td>
              <td>{{ config_load.system.battery }}</td>
            </tr>
            <tr>
              <td>Internet</td>
              <td>{{ config_load.system.internet }}</td>
            </tr>
            <tr>
              <td>Laatste update</td>
              <td>{{ config_load.log.update_last }}</td>
            </tr>
          </tbody>
        </table>                  
      </div>
      
      <div class="col s12 m6">
        <h3>Wedstrijd informatie</h3>
        <table>           
          <tbody>
            <tr>
              <td>Wedstrijdtijd</td>
              <td>[Tijd]</td>
            </tr>
            <tr>
              <td>Totaal doorkomsten</td>
              <td>[registraties] / [totaal]</td>
            </tr>
            <tr>
              <td>Laatste doorkomsten</td>
              <td>[ploegnummer + tijd, laatste 5]</td>
            </tr>
          </tbody>
        </table>
        <div>
          <h5>CP mededelingen</h5>
          [CP medelingen]
        </div>
      </div>
    </div>
  </div>

{% endblock %}